{% extends "myapp/index.html" %}

{% block title%}Login{% endblock%}

{% block content%}
<div class="w-1/2 p-6 my-6 mx-auto bg-black rounded-xl text-center">
    <h1 class="mb-6 text-3xl text-white font-semibold "> Login</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2 text-white"><i class="fa-regular fa-user fa-xl" style="color: #ffffff;"></i> Username</label>
            {{form.username}}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2 text-white"><i class="fa-solid fa-lock fa-xl" style="color: #ffffff;"></i>  Password</label>
            {{form.password}}
        </div>


        {% if form.errors or form.non_field_errors%}
               <div class="mb-3 p-6 bg-red-100 rounded-xl">
                     {% for field  in form  %}
                         {{field.errors}}
                     {% endfor %}

                     {{form.non_field_errors}}
               </div>
        {% endif %}

        <button class="mt-5 py-4 px-8 text-lg bg-violet-500 hover:text-violet-500 hover:bg-white rounded-xl text-white font-semibold">Submit</button>
</div>
{% endblock%}